<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876936941960-urml6r80k3ahl3ph3vjd55cckvqg4mmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876936941960-urml6r80k3ahl3ph3vjd55cckvqg4mmc</string>
	<key>API_KEY</key>
	<string>AIzaSyB5M08926-uAtuLOxuTlS8RH08sEeDCpnA</string>
	<key>GCM_SENDER_ID</key>
	<string>876936941960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppCoda.MLKit-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>mlkit-introduction</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-introduction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876936941960:ios:94ad1407da67874c</string>
	<key>DATABASE_URL</key>
	<string>https://mlkit-introduction.firebaseio.com</string>
</dict>
</plist>